order-location {
  @extend .page;

  > form {
    > m-label {
      font-size: 22px;
      font-weight: 600;
      margin-bottom: 10px;
    }

    >ul {
      @extend .clrfix;
      list-style: none;

      >li{
        display: block;
        float: left;
        width: 22%;
        height: 80px;
        margin: 1.5%;
        text-align: center;
        box-sizing: border-box;
        margin-bottom: 20px;
        color: #3F3F3F;
        background-color: #FFF;
        border: 1px solid #B7B7B7;
        border-radius: 3px;
        padding: 6px 12px;
        box-shadow: 2px 2px 2px rgba(0,0,0,.3);
        cursor: pointer;

        //>a {
        //  color: #3F3F3F;
        //  cursor: pointer;
        //  text-decoration: none;
        //}

        &:hover{
          background-color: #ccc;
          border-color: #848484;
        }
      }
    }
  }
}
