.clrfix {
  &:before, &:after {
    display: table;
    content: " ";
    box-sizing: border-box;
  }

  &:after {
    clear: both;
  }

}


.page {
  box-sizing: border-box;
  display: block;
  max-width: 1000px;
  margin: 0 auto;
}
