@import "styles/_global";
@import "styles/components/global.components";
@import "styles/pages/pages.imports";

body {
  margin: 0;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
  font-family: "Open Sans",Arial,sans-serif;
}



